@media only screen and (max-width:767px) {
    .header-tablet-desktop {
        display: none;
    }
    .header-mobile {
        height: 6vw;
    }
    /* thanh chứa Menu dạng mobile và Tên Cty và nút Search */
    .btn-menu {
        position: relative;
        width: fit-content;
        padding: 0% 0% 0% 0%;
        margin-top: 1%;
    }
    /* DIV chua button */
    .menu-content {
        display: none;
        position: absolute;
        width: 150px;
        z-index: 1;
    }
    /* Khi rê chuột qua Div chứa Button sẽ xuất hiện Menu bên dưới  */
    .btn-menu button {
        width: inherit;
        height: 100%;
        border: unset;
    }
    .btn-menu:hover .menu-content {
        display: block;
        background-color: lightgrey;
    }
    /* Style cho button trong DIV*/
    .brand-name {
        padding: 0% 0% 0% 0%;
        font-family: 'Cabin';
    }
    .brand-name header {
        height: 100%;
        margin-top: 5px;
        font-size: 22px;
        font-weight: bold;
    }
    /* Style cho tên Cty ( brand name ) */
    /* Nội dung Menu   */
    .menu-content ul {
        list-style-type: none;
        font-family: 'Cabin';
        background-color: lightblue;
        font-weight: bold;
        padding: 0% 0% 0% 10%;
        margin: 0% 0% 0% 0%;
    }
    /* Style cho UL( UnOder list)   */
    .menu-content ul li {
        background-color: lightskyblue;
        color: lavender;
    }
    /* Style cho nut Home được mặc định chọn khi truy cập web*/
    .menu-content .a-hover:hover {
        background-color: lightcoral;
        color: white;
    }
    /* Style cho thẻ A trên Menu khi re chuột qua  */
    .search-icon span {
        width: 100%;
        height: 100%;
        margin-top: 2vw;
        padding-left: 2vw;
    }
    .banner {
        padding: 1px 0px 0px 0px;
    }
    /* --------------------------------BODY------------------------------------*/
    .headding {
        margin: 2% 0% 2% 0%;
    }
    .headding>h1,
    .headding>header>h1 {
        width: inherit;
        text-align: center;
        font-family: 'Cabin';
        font-size: 5.5vw;
        font-weight: bold;
    }
    .hide-dot-mobile {
        display: none;
    }
    .contact-info>p {
        font-size: 20px;
    }
    .button-send,
    .control-label,
    .form-control,
    .text-area textarea {
        font-family: 'Cabin';
        font-size: 2.6vw;
    }
    .Add-Tel-Email {
        font-weight: bold;
    }
    .button-send {
        background-color: orange;
        font-weight: bold;
        font-size: 20px;
    }
    .control-label {
        text-align: left !important;
        font-size: 20px;
    }
    .text-area textarea {
        width: 100%;
        height: 70px;
        border-radius: 4px;
        border: lightgrey 0.5px solid;
    }
    .map-tablet,
    .map-desktop {
        display: none;
    }
    .map-mobile {
        margin: 2% 0% 0% 0%;
        padding: 0px 0px 0px 0px;
    }
    .map-mobile img {
        width: 100%;
        object-fit: cover;
    }
    /*-----------------FOOTER---------------------------------- */
    .a-color-footer {
        color: white !important;
    }
    .f-background * {
        font-size: 5vw;
    }
    .f-background {
        color: white;
        background-color: black;
        font-family: 'Cabin';
    }
    .form-f {
        position: relative;
    }
    .i-text {
        background-color: black;
        border-radius: 40px;
        border: none;
        border-bottom: 1px white solid;
        width: 100%;
    }
    .i-submit {
        color: black;
        font-size: 2vw;
        width: 15%;
        position: absolute;
        left: 84%;
        bottom: 3px;
        padding: 2px 0px 1px 2px;
    }
    .justify-f {
        height: inherit;
        width: 100%;
    }
    .justify-f ul {
        list-style-type: none;
        padding-left: 0px;
    }
    .copy-right {
        background-color: black;
    }
    .copy-right p {
        margin: 1px 0px 1px 0px;
        font-size: 1em;
        color: white;
    }
}

* {
    font-family: 'Cabin';
}