@media screen and (min-width:768px) {
    /* ---------------------------------------Menu - Header */
    .header-mobile {
        display: none;
    }
    .header-tablet-desktop {
        height: 6vw;
    }
    .company-name,
    .menu {
        height: 100%;
        background-color: dodgerblue;
    }
    .company-name header {
        margin: 1vh 0vw 1vh 0vw;
        text-align: center;
        font-size: 3vw;
    }
    .menu ul {
        margin: 1vh 0vw 1.2vh 8vw;
        width: inherit;
    }
    .menu ul li {
        display: inline-block;
        padding: 0vh 0vw 0vh 0.5vw;
    }
    .menu ul li a {
        color: white;
        font-weight: bold;
        font-size: 1.9vw;
    }
    .banner {
        padding: 0px 0px 0px 0px;
    }
    /*----------------------------------------------------- */
    .news-body {
        margin: 20px 0px 10px 0px;
    }
    .contact-content {
        font-weight: bold;
        font-family: 'Cabin';
    }
    .news-pic>div {
        border: lightgrey 0.5px solid;
        margin: 3% 0% 3% 0%;
    }
    .news-pic>div>p {
        margin: 3% 3% 3% 3%;
        font-family: 'Cabin';
        font-size: 3vw;
    }
    .news-pic>div>h3 {
        margin: 3% 3% 3% 3%;
        font-weight: bold;
        font-family: 'Cabin';
        font-size: 3.5vw;
    }
    .news-pic>div>img {
        width: 100%;
        height: 100%;
    }
    /*-----------News Post-----------*/
    .news-post-desktop {
        display: none;
    }
    .img img {
        width: 90%;
        padding: 1vh 0px 1vh 1vw;
        height: 120px;
    }
    .img .ceo-mobile-desktop {
        object-fit: cover;
        height: 120px
    }
    .content h5 {
        font-size: 3.5vw;
        font-weight: bold;
    }
    /*--------------------------------------FOOTER---------------------- */
    .a-color-footer {
        color: white !important;
    }
    .f-background * {
        font-size: 3.5vw;
    }
    .f-background {
        color: white;
        background-color: black;
        font-family: 'Cabin';
    }
    .form-f {
        position: relative;
        width: 100%;
    }
    .i-text {
        background-color: black;
        border-radius: 40px;
        border: none;
        border-bottom: 1px white solid;
        width: 100%;
    }
    .i-submit {
        color: black;
        font-size: 1.7vw;
        width: 15%;
        position: absolute;
        left: 84%;
        bottom: 3px;
    }
    .justify-f ul {
        list-style-type: none;
        padding-left: 0px;
    }
    .copy-right {
        background-color: black;
    }
    .copy-right p {
        margin: 2px 0px 2px 0px;
        font-size: 1.3em;
        color: white;
        font-family: 'Cabin';
    }
}