@media screen and (min-width:992px) {
    /* ---------------------------------------Menu - Header */
    .header-mobile {
        display: none;
    }
    .small-mobile {
        display: none;
    }
    .header-tablet-desktop {
        height: 60px;
    }
    .company-name,
    .menu {
        height: 100%;
        background-color: dodgerblue;
    }
    .company-name header {
        margin: 15px 0vw 25px 0vw;
        text-align: center;
        font-size: 1.5vw;
    }
    .menu ul {
        margin: 17px 0vw 28px 11vw;
        width: inherit;
        height: 100%;
    }
    .menu ul li {
        display: inline-block;
        padding: 0vh 0vw 0vh 0.5vw;
    }
    .company-name,
    .menu ul li a {
        color: white;
        font-weight: bold;
        font-size: 1.1vw;
    }
    .banner {
        padding: 0px 0px 0px 0px;
    }
    /*----------------------------------------------------- */
    .about-us-content .content-3 {
        margin-left: 0px;
        font-size: 1.1vw;
    }
    .about-us-margin-top,
    .head-new-margin-top {
        margin-top: 40px;
    }
    .business-margin-top,
    .contact-magin-top,
    .f-margin-top {
        margin-top: 100px;
    }
    .frame-pic-2 {
        position: relative;
    }
    .content-business {
        position: absolute;
        top: 0px;
        left: 100px;
        font-size: 1.1vw;
        color: white;
    }
    .handshake-icon {
        position: absolute;
        width: 70px;
        height: 70px;
        top: 60px;
        left: -38px;
        border-radius: 55px;
    }
    .book-icon {
        position: absolute;
        width: 90px;
        height: 70px;
        top: 210px;
        left: -43px;
        border-radius: 65px;
    }
    .news-p {
        margin-left: 0px;
    }
    .latest-news {
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .contact {
        margin-left: 0px;
    }
    .latest-news,
    .contact-content {
        font-weight: bold;
    }
    .about-us-content>h3 {
        font-size: 1.5vw;
    }
    .news-pic div {
        border: black 1px solid;
    }
    .news-pic h3,
    p {
        margin: 3% 3% 3% 3%;
        font-family: 'Cabin';
    }
    .news-pic img {
        width: 100%;
    }
    /*------------------Contact-----------------*/
    .a-color-footer {
        color: white !important;
    }
    .form {
        margin-bottom: 1%;
        width: 100%;
    }
    .form input {
        display: block;
        width: 100%;
        border: gray 1px solid;
        border-radius: 6px;
        margin: 4% 0% 4% 0%;
        height: 40px;
    }
    .form textarea {
        width: 100%;
        margin: 4% 0% 1% 0%;
        border-radius: 4px;
    }
    .button-send {
        padding-left: 90%;
    }
    .btn-relative {
        position: relative;
    }
    .map {
        margin: 5% 0% 0% 0%;
    }
    /* ---------------------FOOTER------------------------*/
    .a-color-footer {
        color: white !important;
    }
    .f-background * {
        font-size: 1.2vw;
    }
    .f-background {
        color: white;
        background-color: black;
    }
    .form-f {
        position: relative;
        width: 100%;
    }
    .i-text {
        background-color: black;
        border-radius: 40px;
        border: none;
        border-bottom: 1px white solid;
        width: 100%;
    }
    .i-submit {
        color: black;
        font-size: 0.7vw;
        /* resizing font size */
        width: 30%;
        position: absolute;
        left: 66%;
        bottom: 3px;
        padding: 1px 1px 1px 1px;
    }
    .copy-right {
        background-color: black;
        color: white;
    }
    .copy-right p {
        margin: 2px 0px 2px 0px;
        font-size: 1.3em;
    }
    * {
        font-family: 'Cabin';
    }
}

.active {
    color: yellow !important;
}

.frame-pic-1,
.frame-pic-2 {
    padding: 0px 0px 0px 0px;
}

.frame-pic-1 img {
    object-fit: fill;
    width: 100%;
}